body{
    max-width: 100vh;
    max-height: %100;
    background-color: #dfe7ef;
    }
    p{
      font-family: 'Prompt', sans-serif;
    }
    button{
      width: 100px;
      height: 40px;
      background-color: white;
      border: none;
      cursor: pointer;
    }
    
    
    .mainBox{
    margin-left: 75%;
    margin-top: 10%;
    width: 55%;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    }
    .icons{
      margin-top:20%;
      display: flex;
      flex-direction:row;
      margin-left: 12%;
    }
    img{
      margin-left: 21%;
      margin-top: 15%;
      border-radius: 10px;
      width:60%
    }
    .icons i:hover{
      color: black;
    }
    .icons i {
    color: gray;
    font-size: 60px;
    cursor: pointer;
    }
    
    .content{
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: sans-serif;
      color: gray;
      font-weight: bold;
    }
    .songInfo{
      margin-top: 20%;
      margin-left: 90px;
      font-size: 20px;
    }
    footer{
      margin-top: 20px;
      margin-left: 80%;
    }
    footer b {
      letter-spacing: 0.5rem;
    }
    
    .progress-area{
        margin-top: 5px;
        margin-left: 10%;
        height: 6px;
        width: 80%;
        background-color: gray;
        border-radius: 50px;
    }
    .progress-area .progress-bar{
      margin-top: 20%;
      height: inherit;
      border-radius: inherit;
      background-color: black;
    }
    .timer{
      margin-left: 80%;
      padding: 10px;
    }
    
    .timer span{
      font-weight: bold;
      font-family:monospace;
    }
    